version: '3'
services:
  # Base de Datos
  postgres:
    image: postgres:13
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow

  # Inicializador
  airflow-init:
    image: apache/airflow:2.6.0
    depends_on:
      - postgres
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
      - AIRFLOW__CORE__FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - _AIRFLOW_DB_UPGRADE=true
      - _AIRFLOW_WWW_USER_CREATE=true
      - _AIRFLOW_WWW_USER_USERNAME=admin
      - _AIRFLOW_WWW_USER_PASSWORD=admin
    command: version

  # Servidor Web (Interfaz Gráfica)
  airflow-webserver:
    image: apache/airflow:2.6.0
    restart: always
    depends_on:
      - postgres
      - airflow-init
    ports:
      - "8080:8080"
    environment: &airflow-common-env
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__FERNET_KEY: 46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
      AIRFLOW__CORE__LOAD_EXAMPLES: 'False'
    volumes:
      - ../dags:/opt/airflow/dags
      - ..:/opt/airflow/kedro_project
    # Instala requirements SOLO una vez aquí si quieres, o confía en la imagen base
    # Para evitar reinicios, usamos solo el comando de webserver
    command: webserver

  # Scheduler (El cerebro que ejecuta tareas)
  airflow-scheduler:
    image: apache/airflow:2.6.0
    restart: always
    depends_on:
      - postgres
      - airflow-init
    environment: *airflow-common-env
    volumes:
      - ../dags:/opt/airflow/dags
      - ..:/opt/airflow/kedro_project
    # Instala requirements antes de arrancar el scheduler (crítico para que kedro funcione)
    command: bash -c "pip install -r /opt/airflow/kedro_project/src/requirements.txt && airflow scheduler"